<% @stations.each do |station| %>
  <h1> Station -------------------------------</h1>
  <h4>Station Name: <%= station.station_name %></h4>
  <h4>Address: <%= station.street_address %></h4>
  <h4>Fuel Type: <%= station.fuel_type_code %></h4>
  <h4>Distance: <%= station.distance %> miles</h4>
  <h4>Access Times: <%= station.access_days_time %></h4>
<% end %>/<br>
